<%- include ('./partials/header') %>
        <div id="warning" class="ui red message container">
            We do not support posts that goes against anonimity
        </div>

        <form action="/posts" method="post">
            <div class="ui form container">
                <div class="field">
                  <textarea name='post[body]' placeholder="Describe your experience" required></textarea>
                </div>
                <button class="ui primary button" type="submit">Submit</button>
            </div>
        </form>      
<%- include ('./partials/footer') %>