<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Anonymously share your crazy experiences on OAU campus">
        <title>OAU crazy experiences</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    </head>
    <body>
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu">
                <a href="/" id="heading" class="item">
                    <img id="logo" src="/oau.jpg" alt="logo">
                </a>
                <a href="/" class="item">
                    Home
                </a>
                <a href="/posts/new" class="item">
                    Add
                </a>
            </div>
        </div>

        <div id="warning" class="ui red message container">
            You are about to report this post
        </div>

        <div class="ui message container">
            <%= post.body %>
        </div>

        <form method="post" action="https://formspree.io/f/mbjqeopd">
            <div class="ui form container">
                <input id="app-name" name="app-name" value="crazy-xp" type="text">
                <div id="report-post" class="field">
                    <div class="ui input">
                        <textarea name="post" placeholder="post" readonly><%= post.body %></textarea>
                    </div>
                </div>
                <div id="report-post" class="field">
                    <div class="ui input">
                        <input name="post id" type="text" value="<%= post._id %>" placeholder="post id" readonly>
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <textarea name="message" placeholder="Message (optional)"></textarea>
                    </div>
                </div>
                <button class="ui red button" name="submit" type="submit" >Report</button>
            </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </body>
</html>