@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Pacifico&display=swap');

#info{
    font-family: 'Montserrat', sans-serif;
}

#label{
    cursor: default;
    font-family: 'Bellota', cursive;
}

button{
    font-family: 'Space Grotesk', sans-serif !important;
}

a.item{
    font-family: 'Space Grotesk', sans-serif !important;
}

#post{
    font-size: large;
    font-family: 'Bellota', cursive;
    color: gray;
}

#warning{
    font-family: 'Bellota', cursive;
}

#logo{
    width: 50px;
}

#report-post, #app-name{
    display: none;
}